{% extends 'myapp/base.html' %}

{% block content %}
<!-- Start your project here-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">My First Blog</h2>
      <p class="lead">This is my first blog</p>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in post_list %}
    <div class="col-md-4">
      <div class="card h-100">
        {% if item.thumbnail %}
        <img class="card-img-top" src="{{ item.thumbnail.url }}" alt="{{ item.title }}">
        {% else %}
        <img src="https://mdbootstrap.com/img/new/standard/city/043.jpg" class="card-img-top" alt="{{ item.title }}">
        {% endif %}
        <a href="{% url 'myapp:post_detail' item.id %}">
          <div class="mask rgba-white-slight"></div>
        </a>

        <div class="card-body">
          <h5 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h5>
          <p>{{ item.category }}</p>
          <p class="card-text">
            {{ item.content }}
          </p>
          <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-light-blue btn-md">もっと読む</a>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>

<!-- End your project here-->
{% endblock %}